#about .content-wrapper{
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 30% 50%;
  grid-template-columns: 50% 50%;

  & p{
    grid-area: 1/ 1/ 2/ 3;
  }

  & .skills{
    grid-area: 2/ 1/ 2/ 2;
  }
  & .list-wrapper{
    display: flex; 
    flex-direction: row;

    & div{
      margin: 0 1em;

      & ul{
        padding-left: 0;
      }
      & li{
        list-style: none;
      }
    }

    & div:first-child{
      margin-left: 0;
    }
  }
}

