@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,400,700|Work+Sans:600&display=swap");

$darkBGColor: #202024;
$darkMainTextColor: #aaa;
$darkSubTextColor: #eee;
$darkShadowColor: #111;

$lightBGColor: #eee;
$lightMainTextColor: #555;
$lightSubTextColor: #000;
$lightShadowColor: #666;

.dark {
  background-color: $darkBGColor;
  color: $darkMainTextColor;
  & nav {
    background-color: $darkBGColor;
    box-shadow: 0 0.1em 0.3em 0 $darkShadowColor;

    & a,
    & button {
      color: #888;
      &.title {
        color: $darkSubTextColor;
      }
    }

    & div.phone-rwd-mode-menu-wrapper {
      background-color: $darkBGColor;
      & div.phone-rwd-mode-menu-container {
        background-color: $darkBGColor;
      }
      & button.dark-mode {
        background-color: $lightBGColor;
      }
    }

    & span.nav-separator {
      color: $darkSubTextColor;
    }

    & .darkMode {
      background-color: $lightBGColor;
      &:hover {
        color: $lightSubTextColor;
      }
    }
  }
  & h1 {
    color: $darkSubTextColor;
  }

  & #summary {
    & .intro {
      & h1,
      & h2 {
        color: $darkMainTextColor;
      }

      & span.fe {
        color: #f0db4f;
      }
    }

    & .name {
      color: $darkSubTextColor;
    }
  }

  & #portfolio {
    & .page-button-container button {
      color: $darkMainTextColor;
    }
    & .portfolio-item-wrapper {
      box-shadow: 0em 0.1em 0.2em 0.1em $darkShadowColor;

      /* &.moreBtn h3, */
      &.backBtn h3 {
        color: $darkSubTextColor;
      }
    }

    & .moreDiv .portfolio-item-wrapper {
      box-shadow: 0em 0.1em 0.1em 0.05em $darkShadowColor;

      &.moreBtn,
      &.backBtn {
        box-shadow: none;
      }
    }
  }
}
.light {
  background-color: $lightBGColor;
  color: $lightMainTextColor;
  & nav {
    background-color: $lightBGColor;
    box-shadow: 0 0.1em 0.3em 0 $lightShadowColor;

    & div.phone-rwd-mode-menu-wrapper {
      background-color: $lightBGColor;
      & div.phone-rwd-mode-menu-container {
        background-color: $lightBGColor;
      }
      & button.dark-mode {
        background-color: $darkBGColor;
      }
    }

    & a,
    & button {
      color: #888;
      &.title {
        color: $lightSubTextColor;
      }
    }

    & span.nav-separator {
      color: $lightSubTextColor;
    }

    & .darkMode {
      background-color: $darkBGColor;
      &:hover {
        color: $darkSubTextColor;
      }
    }
  }
  & h1 {
    color: $lightSubTextColor;
  }

  & #summary {
    & .intro {
      & h1,
      & h2 {
        color: $lightMainTextColor;
      }

      & span.fe {
        /* color: #f0db4f; */
        color: #dfc100;
      }
    }

    & .name {
      color: $lightSubTextColor;
    }
  }

  & #portfolio {
    & .portfolio-item-wrapper {
      box-shadow: 0em 0.1em 0.2em 0.1em $lightShadowColor;

      &.moreBtn h3,
      &.backBtn h3 {
        color: $lightSubTextColor;
      }
    }

    & .moreDiv .portfolio-item-wrapper {
      box-shadow: 0em 0.1em 0.2em 0.1em $lightShadowColor;

      &.moreBtn,
      &.backBtn {
        box-shadow: none;
      }
    }

    & .page-button-container button {
      color: $lightMainTextColor;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 15vh;

  & h5 {
    margin: auto;
    font-size: 0.7em;
    /* line-height: 8vh; */
    font-weight: 400;
    /* margin-bottom: 3em; */
  }
}

html,
body {
  font-size: 22px;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}

.main-container {
  margin: auto;
  width: 900px;
}

#portfolio,
#about {
  padding-top: 10vh;
  height: 80vh;

  & h1 {
    margin-bottom: 0.5em;
  }
  & p {
    margin-top: 0;
  }
}
#summary {
  padding-top: 14vh;
  height: 76vh;
}

#contact {
  padding-top: 10vh;
  height: 75vh;
}

@media all and (max-width: 1200px) {
  html,
  body {
    font-size: 20px;
  }

  nav .content-container {
    width: 800px;
    font-size: 18px;
  }

  #portfolio .main-container {
    grid-template-columns: auto 800px auto;
    & .sub-container {
      width: 800px;
    }

    & .feat {
      grid-template-columns: repeat(2, 400px);
      grid-template-rows: repeat(2, 232px);
      margin: 0;

      & .portfolio-item-wrapper {
        width: 368px;
        height: 207px;

        & .portfolio-item {
          margin-top: calc(207px - 2em);
        }
      }
    }

    & .moreDiv {
      grid-template-columns: repeat(3, 256px);
      grid-template-rows: repeat(3, 160px);
      margin: 0;

      & .portfolio-item-wrapper {
        width: 240px;
        height: 144px;

        & .portfolio-item {
          margin-top: calc(144px - 2em);
        }
      }
    }

    & .page-button-container button {
      font-size: 1.5em;
    }
  }
}

@media all and (max-width: 768px) {
  html,
  body {
    font-size: 18px;
  }
  nav .content-container {
    font-size: 16px;
    width: 700px;
  }
  #summary,
  #about,
  #contact {
    &.main-container {
      width: 700px;
    }
  }

  #portfolio .main-container {
    grid-template-columns: auto 600px auto;
    & .sub-container {
      width: 600px;
    }

    & .feat {
      grid-template-columns: repeat(2, 275px);
      grid-template-rows: repeat(2, 163px);
      margin: 0;

      & .portfolio-item-wrapper {
        width: 256px;
        height: 144px;

        & .portfolio-item {
          margin-top: calc(144px - 2em);
        }
      }
    }

    & .moreDiv {
      grid-template-columns: repeat(3, 180px);
      grid-template-rows: repeat(3, 110px);
      margin: 0;

      & .portfolio-item-wrapper {
        width: 160px;
        height: 90px;

        & .portfolio-item {
          margin-top: calc(90px - 2em);
        }
      }
    }

    & .page-button-container button {
      font-size: 1.5em;
    }
  }
}

@media all and (max-width: 420px) {
  html,
  body {
    font-size: 13px;
  }
  nav .content-container,
  #portfolio .sub-container {
    width: 340px;
    font-size: 14px;
  }
  nav {
    & div.nav-btn,
    & div.resume,
    & div.opt {
      display: none;
    }
    & button.phone-rwd-mode-menu-btn {
      display: inline;
    }
    & div.phone-rwd-mode-menu-wrapper.show {
      display: flex;
      justify-content: center;
    }
  }
  #summary,
  #about,
  #contact {
    &.main-container {
      width: 300px;
    }
  }

  #summary {
    padding-top: 10vh;
    height: 80vh;
  }

  #portfolio .main-container {
    grid-template-columns: auto 300px auto;
    & .sub-container {
      width: 300px;
    }

    & .feat {
      grid-template-columns: 240px;
      grid-template-rows: repeat(4, 135px);

      & .portfolio-item-wrapper {
        width: 224px;
        height: 126px;

        & .portfolio-item {
          margin-top: calc(126px - 2em);
        }
      }
    }

    & .moreDiv {
      display: block;
      width: 100%;
      & ul {
        list-style: none;
        padding: 0;
      }
    }

    & .page-button-container {
      &.next {
        margin: 0;
      }
      & button {
        padding: 0;
        font-size: 2em;
      }
    }
  }

  #about .content-container {
    grid-template-rows: 40% 40%;
  }

  #contact .content-container {
    grid-template-rows: 15% 35%;
    & .links-container {
      display: grid;
      grid-template-columns: repeat(3, 2em);
      grid-template-rows: repeat(2, 2em);
    }
  }
}
