$darkSubTextColor: #eee;
$lightSubTextColor: #111;

#contact .content-container{
  margin: 0;
  display: grid;
  grid-template-rows: 10% 50%;
  height: 90%;
  & p{
    margin: 0;
  }
}
#contact .links-container{
  display: flex;
  flex-direction: row;
  font-size: 3em;  
}

#contact a{
  margin: 0 1em 0 0;
  padding: 0;
  cursor: pointer;
  color: #888;
  height: 1.5em;
}

#contact a:first-child{
  margin-left: 0;
}
#contact a.mail:hover{
  color: #D44638;  
}

#contact a.github:hover{
  color: #000;
}

#contact a.linkedin:hover{
  color: #0077b5;
}

.dark #contact a.blog:hover{
  color: $darkSubTextColor;
}
.light #contact a.blog:hover{
  color: $lightSubTextColor;
}

#contact a.twitter:hover{
  color: #38A1F3;
}

