#portfolio .content-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.portfolio-item-wrapper{
  display: inline-block;
  margin: 0 1.5em;
  width: 20em;
  height: 11em; 
  box-shadow: 0em 0.2em 0.3em 0.2em #111;
  cursor: pointer;
  overflow: hidden;
}
.portfolio-item{  
  height: 100%;
  width: 100%;
  padding: 0 0.5em;
  word-break: normal;
  margin-top: 9em;
  transition: margin-top 0.2s;
}
.portfolio-item.hovered{
  margin-top: 0;
}
.portfolio-item-wrapper img{
  height: 100%;
  width: 100%;
}
.portfolio-item h3{
  margin: 0;
  padding: 0.5em 0;
  font-size: 1em;
}
.portfolio-item p{
  margin: 0;
  padding: 1em 0;
  padding-top: 0;
  font-size: 0.8em;
}
.portfolio-item h4{
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
}