
#summary{  
  display: grid;
  grid-template-rows: 70% 30%;  
  & .intro{
    & h1, & h2{
      /* color: #999; */
      transition: opacity 0.8s ease;
      margin: 0;
  
      &:first-of-type{
        margin-top: 1em;
      }  
      
      & span.base{
        color: #01ce42;
      }

      & span.passion{
        color: #ff0000;
      }    
  
      opacity: 0;
    }
  }

  & .start{
    display: flex;
    justify-content: center;
    transition: opacity 0.8s ease-out;    
    font-size: 1.5em;
    opacity: 0;    

    & h2{
      margin: 0 1em;
      margin-top: 0.5em;
      transition: all 0.3s ease-out;    
      cursor: pointer;      
      
      &:hover{
        margin-top: 1em;
      }
    }
  }
}