
#summary{
  display: grid;
  grid-template-rows: 60% 30%;  
  & .intro{
    & h1, & h2{
      color: #999;
      transition: all 0.8s ease;
      margin: 0;
  
      &:first-of-type{
        margin-top: 1em;
      }
  
      & span.front-end{
        color: #dec528;
      }
      & span.base{
        color: #01ce42;
      }
      & span.love{
        color: #ff0000;
      }    
  
      opacity: 0;
    }
  }

  & .start{
    display: flex;
    justify-content: center;
    transition: all 0.8s ease-out;    
    font-size: 3em;
    opacity: 0;

    & h1{
      margin: 0;
      margin-top: 0.1em;
      transition: all 0.3s ease-out;    
      cursor: pointer;      
      
      &:hover{
        margin-top: 0.4em;
      }
    }
  }
}